.title {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
.title h1 {
  color: #171717;
  font-size: 28px;
  font-weight: 500;
}
.title h3 {
  color: #5E17EC;
  font-size: 16px;
}
.title h4 {
  color: #5C5C5C;
  font-size: 16px;
}

.carrinho {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 1rem;
}
.carrinho .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.carrinho .left .carrinho-produto {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.carrinho .left .carrinho-produto .left {
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.carrinho .left .carrinho-produto .left img {
  width: 10rem;
}
.carrinho .left .carrinho-produto .right h3 {
  color: #171717;
  font-size: 24px;
}
.carrinho .left .carrinho-produto .right p {
  color: #5C5C5C;
  font-size: 16px;
}
.carrinho .left .carrinho-produto .right .carrinho-produtos-prices-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.carrinho .left .carrinho-produto .right .carrinho-produtos-prices-container h4 {
  color: #171717;
  font-size: 20px;
  font-weight: 500;
}
.carrinho .left .carrinho-produto .right .carrinho-produtos-prices-container h6 {
  color: #5C5C5C;
  font-size: 16px;
}
.carrinho .left .carrinho-produto .right .carrinho-produtos-prices-container a {
  color: #5E17EC;
  font-size: 16px;
  text-decoration: none;
}
.carrinho .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.carrinho .right .box-one {
  border-radius: 4px;
  background: #F6F6F6;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2rem;
}
.carrinho .right .box-one span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carrinho .right .box-one span h3 {
  color: #171717;
  font-size: 24px;
  font-weight: 500;
}
.carrinho .right .box-one span h4 {
  color: #5E17EC;
  font-size: 16px;
}
.carrinho .right .box-one span h5 {
  color: #171717;
  font-size: 16px;
}
.carrinho .right .box-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.carrinho .right .box-two input {
  border-radius: 4px;
  background: #F6F6F6;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  padding: 0.7rem;
  width: 70%;
  border: none;
}
.carrinho .right .box-two button {
  border-radius: 10px;
  background: #5E17EC;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  color: #FEFEFE;
  font-size: 18px;
  font-weight: 500;
  padding: 0.7rem;
  width: 30%;
  border: none;
}
.carrinho .right .box-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #F6F6F6;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  gap: 1rem;
  padding: 1rem 2rem;
}
.carrinho .right .box-three h6 {
  color: #5E17EC;
  font-size: 24px;
  font-weight: 500;
}
.carrinho .right .box-four {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.carrinho .right .box-four button {
  border-radius: 10px;
  background: #5E17EC;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  border: none;
  color: #FEFEFE;
  font-size: 20px;
  font-weight: 500;
}
.carrinho .right .box-four p {
  color: #5C5C5C;
  font-size: 16px;
}
.carrinho .right .box-four p a {
  color: #5E17EC;
  text-decoration: none;
}/*# sourceMappingURL=carrinho.css.map */